---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LendingPage from "../components/LendingPage.astro";
import AboutMe from "../components/AboutMe.astro";
import ColorPalette from "../components/ColorPalette.astro";
---

<Layout title="zaycevv.">
	<Header />
	<main class="relative w-full mx-auto max-w-[1400px] pb-6">
		<LendingPage />
		<AboutMe />
		<ColorPalette />
	</main>
</Layout>
