---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LendingPage from "../components/LendingPage.astro";
import AboutMe from "../components/AboutMe.astro";
import ColorPalette from "../components/ColorPalette.astro";
import MyProjects from "../components/MyProjects.astro";
import MySkills from "../components/MySkills.astro";
import ContactMe from "../components/ContactMe.astro";
import Mascot from "../components/Mascot.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="zaycevv.">
	<Header />
	<main class="relative w-full mx-auto max-w-[1400px] pb-6">
		<LendingPage />
		<AboutMe />
		<ColorPalette />
		<MyProjects />
		<MySkills />
		<ContactMe />
	</main>
	<Mascot />
	<Footer />
</Layout>
