<div
    id="aboutme"
    class="lg:flex justify-between px-2 w-full mx-auto max-w-[1000px]"
>
    <img
        src="/assets/me.jpg"
        alt="me"
        class="rounded-full border border-gray-50 w-[200px] h-[200px] mb-10 md:mb-0"
    />
    <div class="flex flex-col justify-between max-w-[600px]">
        <div>
            <h1 class="text-4xl font-semibold">About me</h1>
            <p class="text-base mt-5">
                I'm a front-end developer with 2 years of experience, focused on
                creating high quality, well-designed projects.
            </p>
        </div>
        <div class="flex items-center gap-8 mt-8 md:mt-0">
            <a href="https://github.com/zaycevv"
                ><svg
                    width="40"
                    height="40"
                    xmlns="http://www.w3.org/2000/svg"
                    class="hover:scale-110 transition-transform duration-200"
                >
                    <path
                        fill="none"
                        clip-rule="evenodd"
                        d="M18 1.333C8.792 1.333 1.333 8.792 1.333 18c0 7.375 4.771 13.604 11.396 15.813.834.145 1.146-.355 1.146-.792 0-.396-.02-1.709-.02-3.104-4.188.77-5.272-1.021-5.605-1.959-.187-.479-1-1.958-1.708-2.354-.584-.312-1.417-1.083-.021-1.104 1.312-.02 2.25 1.208 2.562 1.708 1.5 2.521 3.896 1.813 4.854 1.375.146-1.083.584-1.812 1.063-2.229-3.708-.416-7.583-1.854-7.583-8.229 0-1.813.646-3.313 1.708-4.48-.167-.416-.75-2.124.167-4.416 0 0 1.396-.437 4.583 1.709a15.466 15.466 0 0 1 4.167-.563c1.416 0 2.833.188 4.166.563 3.188-2.167 4.584-1.709 4.584-1.709.916 2.292.333 4 .166 4.417 1.063 1.166 1.709 2.646 1.709 4.479 0 6.396-3.896 7.813-7.605 8.23.605.52 1.125 1.52 1.125 3.082 0 2.23-.02 4.021-.02 4.584 0 .437.312.958 1.145.791A16.693 16.693 0 0 0 34.668 18c0-9.208-7.459-16.667-16.667-16.667Z"
                        stroke="#6B6B6B"
                        stroke-width="1.5"
                        stroke-linejoin="round"></path></svg
                >
            </a>
            <a href="https://linkedin.com/zaycevv">
                <svg
                    width="40"
                    height="40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="hover:scale-110 transition-transform duration-200"
                >
                    <path
                        d="M36.667 5.784v28.432a2.45 2.45 0 0 1-2.451 2.45H5.784a2.45 2.45 0 0 1-2.45-2.45V5.784a2.451 2.451 0 0 1 2.45-2.45h28.432a2.451 2.451 0 0 1 2.45 2.45Zm-23.53 10.294H8.235v15.687h4.902V16.078Zm.441-5.392a2.822 2.822 0 0 0-2.804-2.843h-.088a2.843 2.843 0 1 0 0 5.687 2.825 2.825 0 0 0 2.892-2.755v-.089Zm18.187 11.55c0-4.716-3-6.55-5.98-6.55a5.59 5.59 0 0 0-4.962 2.53h-.137v-2.138h-4.608v15.687h4.902v-8.343a3.255 3.255 0 0 1 2.942-3.51h.186c1.559 0 2.715.98 2.715 3.45v8.403h4.902l.04-9.53Z"
                        stroke="#6B6B6B"
                        stroke-width="1.5"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
            <a class="cursor-not-allowed"
                ><svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="hover:scale-110 transition-transform duration-200"
                >
                    <path
                        d="M36.6666 9.8743C35.4408 10.4175 34.1239 10.7845 32.7396 10.9504C34.1518 10.1048 35.2353 8.76299 35.7461 7.16576C34.4249 7.94969 32.9613 8.51929 31.4037 8.82465C30.1558 7.49754 28.3795 6.66663 26.4123 6.66663C22.6365 6.66663 19.5742 9.72896 19.5742 13.5077C19.5742 14.0421 19.6358 14.5618 19.7504 15.0638C14.0646 14.7776 9.02778 12.0543 5.65422 7.9174C5.06701 8.93035 4.72936 10.1048 4.72936 11.3555C4.72936 13.7279 5.93756 15.8228 7.77114 17.0486C6.64956 17.0119 5.5955 16.7051 4.67357 16.1927V16.2808C4.67357 19.5942 7.02978 22.3585 10.1596 22.9868C9.58417 23.1425 8.98081 23.2247 8.35836 23.2247C7.91794 23.2247 7.48781 23.1836 7.07088 23.1043C7.94143 25.8202 10.4665 27.7991 13.4598 27.8519C11.1183 29.687 8.16898 30.7807 4.96571 30.7807C4.41373 30.7807 3.86909 30.7484 3.33325 30.6852C6.36035 32.6275 9.95412 33.7579 13.8151 33.7579C26.3962 33.7579 33.2739 23.3377 33.2739 14.3004C33.2739 14.0068 33.2666 13.7103 33.2534 13.4167C34.5893 12.4507 35.7491 11.2484 36.6637 9.8787L36.6666 9.8743Z"
                        stroke="#6B6B6B"
                        stroke-width="1.5"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
            <a href="https://discord.com/users/286803006601691137"
                ><svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="hover:scale-110 transition-transform duration-200"
                >
                    <path
                        d="M31.4905 7.23999C29.1972 6.19111 26.7617 5.42666 24.2194 5C23.8994 5.55111 23.5438 6.29777 23.2949 6.88444C20.591 6.49332 17.9065 6.49332 15.2399 6.88444C14.991 6.29777 14.6176 5.55111 14.3154 5C11.7554 5.42666 9.31986 6.19111 7.04254 7.23999C2.4381 14.0311 1.19366 20.6622 1.81588 27.2043C4.87365 29.4266 7.82478 30.7777 10.7243 31.6667C11.4355 30.7066 12.0755 29.6755 12.6266 28.5911C11.5777 28.2 10.5821 27.7199 9.62212 27.151C9.87101 26.9733 10.1199 26.7778 10.351 26.5822C16.1466 29.2311 22.4239 29.2311 28.1483 26.5822C28.3972 26.7778 28.6283 26.9733 28.8772 27.151C27.9172 27.7199 26.9217 28.2 25.8727 28.5911C26.4239 29.6755 27.0639 30.7066 27.7749 31.6667C30.6727 30.7777 33.6416 29.4266 36.6834 27.2043C37.4478 19.6311 35.4727 13.0534 31.4905 7.23999ZM13.4266 23.1688C11.6843 23.1688 10.2621 21.5867 10.2621 19.6489C10.2621 17.7111 11.6488 16.1288 13.4266 16.1288C15.1865 16.1288 16.6265 17.7111 16.5909 19.6489C16.5909 21.5867 15.1865 23.1688 13.4266 23.1688ZM25.1084 23.1688C23.3661 23.1688 21.9421 21.5867 21.9421 19.6489C21.9421 17.7111 23.3305 16.1288 25.1084 16.1288C26.8683 16.1288 28.3083 17.7111 28.2727 19.6489C28.2727 21.5867 26.8861 23.1688 25.1084 23.1688Z"
                        stroke="#6B6B6B"
                        stroke-width="1.55963"
                        stroke-linejoin="round"></path>
                </svg></a
            >
            <a href="https://t.me/zaycevv_a"
                ><svg
                    width="40"
                    height="40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="hover:scale-110 transition-transform duration-200"
                    ><path
                        clip-rule="evenodd"
                        d="M34.662 18c0 9.205-7.462 16.667-16.667 16.667C8.79 34.667 1.328 27.205 1.328 18c0-9.205 7.462-16.667 16.667-16.667C27.2 1.333 34.662 8.795 34.662 18Zm-16.07-4.363c-1.62.675-4.86 2.07-9.72 4.187-.788.314-1.202.62-1.24.92-.063.508.572.708 1.437.98.118.037.24.075.365.116.85.276 1.995.6 2.59.613.54.012 1.143-.211 1.808-.668 4.54-3.064 6.883-4.613 7.03-4.646.104-.024.248-.054.345.033.098.087.088.25.078.295-.063.268-2.557 2.586-3.847 3.786-.402.373-.687.639-.746.7-.13.135-.264.263-.392.387-.79.762-1.383 1.333.033 2.267.68.448 1.226.82 1.769 1.19.593.403 1.185.806 1.95 1.308.196.128.382.26.564.39.69.492 1.31.935 2.077.864.445-.04.905-.46 1.139-1.709.552-2.951 1.637-9.346 1.888-11.982a2.944 2.944 0 0 0-.028-.656.702.702 0 0 0-.237-.451c-.2-.162-.508-.197-.646-.194-.627.01-1.588.345-6.217 2.27Z"
                        stroke="#6B6B6B"
                        stroke-width="1.5"
                        stroke-linejoin="round"></path></svg
                ></a
            >
        </div>
    </div>
</div>
