<div class="flex justify-center py-80">
    <div class="w-24 h-24 bg-black"></div>
    <div class="w-24 h-24 bg-gray-900"></div>
    <div class="w-24 h-24 bg-gray-800"></div>
    <div class="w-24 h-24 bg-gray-700"></div>
    <div class="w-24 h-24 bg-gray-600"></div>
    <div class="w-24 h-24 bg-gray-500"></div>
    <div class="w-24 h-24 bg-gray-400"></div>
    <div class="w-24 h-24 bg-gray-300"></div>
    <div class="w-24 h-24 bg-gray-200"></div>
    <div class="w-24 h-24 bg-gray-100"></div>
    <div class="w-24 h-24 bg-gray-50"></div>
</div>
