<div class="mt-[300px] mb-[70px]">
    <div class="text-center">
        <h1 class="text-4xl font-semibold mb-8">Want to work together?</h1>
        <a
            href="mailto:0xzayeth@gmail.com"
            class="bg-black text-white py-4 px-[92px] hover:bg-white hover:text-black border border-black ease-out transition-colors duration-200"
            >Contact me</a
        >
    </div>
</div>
