<footer
    class="relative border-t-[1px] flex flex-col md:flex-row md:gap-0 gap-5 border-black md:flex justify-between items-center py-8 px-2 md:px-48 md:py-10 w-full lg:mb-0"
>
    <h1 class="text-base font-semibold text-center">Alexander Zaytsev.</h1>
    <div
        class="w-full h-full font-thin md:w-1/3 flex flex-col items-center gap-1 justify-between py-2 md:py-0"
    >
        <h1 class="text-sm">thank you for watching</h1>
        <p class="text-sm text-gray-300">
            © 2023 zaycevv. All rights reserved.
        </p>
    </div>
    <h1 class="font-thin text-center">
        Powered by <a
            target="_blank"
            href="https://astro.build/"
            class="font-semibold relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
            >Astro</a
        >
    </h1>
</footer>
