<header
    class="hidden lg:block w-full px-24 absolute top-0 z-50 bg-backrondPrimary"
>
    <div
        class="relative h-[77px] w-full flex pt-4 pb-1 justify-center items-center border-b border-black overflow-visible"
    >
        <div class="absolute left-0 flex items-center">
            <a href="/"
                ><h1 class="text-base font-semibold">alexander zaycev.</h1></a
            >
        </div>
        <div
            class="relative flex items-center justify-between py-2 z-50 px-4 mr-5 gap-10"
        >
            <a
                href="#aboutme"
                class="text-gray-500 hover:text-black hover:font-semibold relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >About me</a
            >
            <a
                href="/"
                class="text-gray-500 hover:text-black hover:font-semibold relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >My projects</a
            >
            <a
                href="/"
                class="text-gray-500 hover:text-black hover:font-semibold relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >Conctacts</a
            >
        </div>
        <div class="absolute right-0 w-auto z-20 visible">
            <a href="mailto:0xzayeth@gmail.com">
                <h1 class="text-base font-semibold">0xzayeth@gmail.com</h1>
                <hr class="bg-black border-black" />
            </a>
        </div>
    </div>
</header>
