<nav
    class="hidden lg:block w-full px-24 absolute top-0 z-50 bg-backrondPrimary"
>
    <div
        class="relative h-[77px] w-full flex pt-4 pb-1 justify-center items-center border-b border-black overflow-visible"
    >
        <div class="absolute left-0 flex items-center">
            <a href="/"
                ><h1 class="text-base font-semibold">Alexander Zaytsev.</h1></a
            >
        </div>
        <div
            class="relative flex items-center justify-between py-2 z-50 px-4 mr-5 gap-10"
        >
            <a
                href="#about"
                class="text-gray-500 hover:text-black hover:font-medium relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >About</a
            >
            <a
                href="#skills"
                class="text-gray-500 hover:text-black hover:font-medium relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >Skills</a
            >
            <a
                href="#projects"
                class="text-gray-500 hover:text-black hover:font-medium relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >Projects</a
            >
            <a
                href="#contacts"
                class="text-gray-500 hover:text-black hover:font-medium relative before:content-[''] before:absolute before:block before:w-full before:h-[1px] before:bottom-0 before:left-0 before:bg-black before:hover:scale-x-100 before:scale-x-0 before:origin-top-left before:transition before:ease-in-out before:duration-300"
                >Conctacts</a
            >
        </div>
        <div class="absolute right-0 w-auto z-20 visible">
            <a href="mailto:0xzayeth@gmail.com">
                <h1 class="text-base hover:font-semibold">
                    0xzayeth@gmail.com
                </h1>
                <hr class="bg-black border-black" />
            </a>
        </div>
    </div>
</nav>
<nav
    class="h-[73px] lg:hidden w-full px-5 sm:px-10 py-3 flex justify-between border-b border-black z-50"
>
    <div class="w-8 flex items-center">
        <a class="w-[39px] flex items-center" href="/"
            ><h1 class="text-xl font-semibold">ZAYCEVV.</h1></a
        >
    </div>
    <div class="w-10 p-1 flex items-center hover:cursor-pointer">
        <svg
            width="44"
            height="44"
            viewBox="0 0 30 30"
            xmlns="http://www.w3.org/2000/svg"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4 7C4 6.44772 4.44772 6 5 6H25C25.5523 6 26 6.44772 26 7C26 7.55228 25.5523 8 25 8H5C4.44772 8 4 7.55228 4 7ZM4 15C4 14.4477 4.44772 14 5 14H25C25.5523 14 26 14.4477 26 15C26 15.5523 25.5523 16 25 16H5C4.44772 16 4 15.5523 4 15ZM4 23C4 22.4477 4.44772 22 5 22H25C25.5523 22 26 22.4477 26 23C26 23.5523 25.5523 24 25 24H5C4.44772 24 4 23.5523 4 23Z"
            ></path></svg
        >
    </div>
</nav>
