<div
    class="flex flex-col items-center relative gap-24 py-40 md:py-80 select-none"
>
    <img src="/assets/zaycevv.png" loading="lazy" alt="zaycevv logo" />
    <span class="text-sm md:text-base text-center text-gray-400"
        >zaycevv.eth // github.com/zaycevv<br />front-end developer</span
    >
</div>
