<div class="w-full flex justify-end right-0">
    <svg
        width="200px"
        height="230px"
        viewBox="0 0 172 235"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M23.5085 142.959C22.1169 145.633 20.9382 148.506 20.0567 151.391C19.3468 153.714 19.2169 156.131 18.6266 158.492C17.8255 161.697 17.1193 164.948 17.0733 168.256C17.0563 169.48 16.6936 171.504 17.4185 172.57C18.0915 173.56 18.7326 174.661 19.5636 175.529C22.2114 178.295 24.937 180.279 28.5753 181.644C30.8146 182.483 33.5216 182.235 35.8857 182.235C37.4263 182.235 38.9398 182.457 40.4717 182.457C42.7719 182.457 45.3104 182.77 47.5849 182.433C48.5853 182.284 50.0793 181.746 51.0244 181.348C51.8418 181.004 52.7633 180.893 53.6009 180.571C55.1877 179.961 56.7465 178.997 58.3472 178.463"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M19.958 128.313C19.5796 113.303 19.7835 97.5651 14.7556 83.193C11.1829 72.9805 5.86245 63.3194 3.29063 52.7677C2.25196 48.5063 1.0455 42.1981 3.192 38.0482C4.4734 35.5708 7.26895 33.788 9.65183 32.4883C12.0737 31.1673 15.5216 29.5078 18.343 29.6405C20.399 29.7373 22.303 30.7262 24.1125 31.613C26.668 32.8654 29.2204 34.1763 31.6078 35.7305C37.4351 39.5241 41.6901 45.436 44.0837 51.9417C46.3517 58.106 46.9547 64.932 47.5971 71.4322C48.0899 76.4178 47.897 81.4452 47.9177 86.4476C47.9352 90.6823 47.8349 95.429 48.9039 99.5521C49.2742 100.98 48.8461 102.876 49.471 104.126"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M82.0907 101.907C81.4931 100.002 81.5026 100.236 81.1784 97.5428C80.4035 91.1071 80.1392 84.6122 80.525 78.1387C81.0951 68.5716 82.8373 58.7563 85.1973 49.464C85.8694 46.8175 86.5801 44.143 87.5149 41.5741C88.1363 39.8667 88.8384 37.8925 90.2394 36.6429C94.7311 32.6368 100.98 34.8111 105.501 37.4073C109.739 39.8404 115.116 42.7557 118.063 46.7888C120.757 50.4753 121.857 55.4577 121.688 59.955C121.459 66.0404 118.973 71.5945 116.473 77.0415C114.089 82.2366 111.565 87.3578 108.694 92.3035C106.973 95.2686 104.132 98.8079 104.059 102.4C104.002 105.244 104.381 107.825 105.563 110.438C106.711 112.975 107.24 115.802 108.448 118.328C108.653 118.756 108.719 118.915 108.719 119.437"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M109.828 124.097C110.258 125.719 111.009 127.165 111.505 128.757C112.039 130.471 112.436 132.132 113.108 133.787C114.057 136.125 114.272 139.159 114.612 141.627C114.84 143.287 114.537 144.983 114.821 146.632C115.569 150.972 115.15 156.207 113.268 160.181C111.763 163.357 109.036 164.449 105.785 165.1C104.279 165.401 103.066 165.593 101.507 165.593C100.747 165.593 99.5313 165.413 99.1771 164.705"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M38.154 149.172C38.9938 146.998 39.8954 144.888 40.7675 142.737C42.0474 139.58 45.499 138.005 48.682 137.238C52.1118 136.413 55.8194 135.636 59.358 135.636C61.3048 135.636 62.4288 137.298 63.2783 138.964C64.6918 141.737 62.1126 144.96 59.7895 146.509C58.5039 147.366 57.4167 148.437 56.1158 149.283C54.9338 150.051 53.6826 150.703 52.4544 151.391C51.1749 152.107 49.6943 152.769 48.2629 153.055C46.9908 153.309 45.6619 153.247 44.3796 153.511C42.5804 153.882 40.7881 154.025 39.3745 152.611C38.2965 151.533 37.9978 150.388 37.7102 148.95"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M45.9541 144.235C45.6362 144.621 45.2436 144.985 45.2404 145.532C45.2335 146.714 46.1377 148.034 46.9808 148.8C47.3955 149.177 48.0393 148.789 48.4624 148.596C48.9656 148.366 49.4289 148.134 49.9273 147.882C50.5259 147.58 51.1392 147.31 51.7386 147.01C52.4684 146.645 53.0973 146.154 53.767 145.695C54.381 145.275 54.9803 144.711 55.5199 144.197C55.9455 143.791 56.4125 143.258 56.6968 142.74C57.0433 142.109 57.6128 140.448 56.5299 140.195C55.5375 139.962 54.6839 140.463 53.7336 140.704C52.2386 141.083 50.9873 142.017 49.5183 142.415C48.4256 142.711 47.5741 143.104 46.722 143.859C46.357 144.182 45.7739 144.584 45.7245 145.103C45.6894 145.472 45.962 145.463 46.2713 145.603C46.8943 145.887 47.5024 146.221 48.1744 146.38C48.5825 146.476 49.033 146.429 49.3847 146.2C50.1179 145.724 50.8207 145.177 51.5467 144.685C52.5829 143.983 53.6061 143.099 54.7728 142.624C54.8204 142.604 55.7138 142.175 55.595 142.148C55.0071 142.011 53.9668 142.533 53.4373 142.711C51.5731 143.337 49.7413 144.079 47.9198 144.819C47.8061 144.865 46.2356 145.841 46.2546 145.178C46.2616 144.931 46.8668 144.492 47.0809 144.385"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M85.1687 134.168C85.5585 134.168 85.8514 134.04 86.2204 133.943C87.3232 133.651 88.4828 133.746 89.6094 133.713C91.5286 133.657 93.4282 133.55 95.3355 133.834C96.8163 134.055 98.3425 134.762 99.4423 135.783C99.757 136.075 100.019 136.507 100.043 136.947C100.062 137.282 99.9009 137.407 99.651 137.607C99.4325 137.782 98.954 137.919 98.691 137.983C97.9638 138.159 97.4975 138.002 96.8129 137.774C95.7882 137.432 94.7343 137.043 93.6953 136.764C92.9525 136.565 92.2915 136.21 91.5835 135.933C90.6472 135.567 89.7865 135.37 88.7747 135.37C88.1217 135.37 87.4231 135.433 86.7839 135.291C86.445 135.215 86.2468 135.083 85.9951 134.844C85.6817 134.547 86.1454 134.501 86.4124 134.468C87.4537 134.342 88.3299 134.719 89.3506 134.844C91.2766 135.08 93.2385 134.873 95.1602 135.086C96.0154 135.181 97.1606 135.513 97.8271 136.046C97.973 136.163 98.0149 136.62 98.0149 136.797"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M80.436 132.065C81.5276 129.725 84.5905 128.622 87.0386 128.505C88.9496 128.413 90.8651 128.478 92.7773 128.454C94.2122 128.437 95.8167 128.303 97.1804 128.876C97.8056 129.139 98.4219 129.38 99.0585 129.619C99.6476 129.84 100.19 130.21 100.757 130.487C101.41 130.806 101.963 131.284 102.589 131.651C103.174 131.995 103.592 132.571 104.104 133.008C104.95 133.729 105.597 134.707 105.995 135.746C106.357 136.69 106.851 137.65 107.013 138.659C107.092 139.149 107.23 139.869 107.072 140.362C106.993 140.608 106.781 141.438 106.504 141.53"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M78.8583 133.792C78.8583 134.722 78.938 135.44 79.309 136.288C79.6198 136.999 79.9597 137.67 80.4192 138.3C81.0789 139.205 82.0808 139.644 82.9525 140.291C83.765 140.894 84.6104 141.618 85.5861 141.943C86.275 142.173 86.9199 142.513 87.6144 142.732C88.6135 143.048 89.6064 143.396 90.611 143.692C91.6015 143.984 92.8157 144.145 93.8497 144.16C94.713 144.172 95.5932 144.238 96.4206 143.968C97.0292 143.769 97.6792 143.738 98.2904 143.542C98.8686 143.356 99.474 143.191 100.077 143.108C101.487 142.913 102.855 142.335 104.25 142.056"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M63.2325 141.155C62.7615 144.172 62.7818 147.234 62.7818 150.282C62.7818 151.047 62.8313 151.825 62.7067 152.573"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M80.436 138.074C81.0627 140.068 81.7392 142.049 82.3308 144.051C82.4945 144.605 82.5528 145.178 82.7649 145.72C82.9373 146.161 83.2156 146.542 83.2156 147.014"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M80.8867 157.156C79.6913 158.65 78.4441 160.12 77.456 161.755C77.2639 162.073 76.965 162.435 76.8467 162.79C76.7894 162.962 77.308 163.4 77.3308 163.424C77.875 163.998 78.4777 164.544 78.9335 165.194C80.694 167.706 83.5071 169.16 85.9618 170.887C86.8735 171.528 87.6812 172.329 88.6287 172.928C89.687 173.596 90.6109 174.316 91.5376 175.152C92.2804 175.823 92.9302 176.668 93.7705 177.21C94.1617 177.462 94.5601 177.683 94.9308 177.969C95.3231 178.273 95.602 178.741 96.0534 178.967C96.6773 179.279 97.6094 178.19 97.9566 177.815C98.6877 177.024 98.9919 176.106 99.5509 175.227C99.8529 174.753 98.7706 174.42 98.5242 174.284C97.1035 173.501 96.2358 172.185 95.1186 171.05C94.072 169.986 92.7871 169.037 91.571 168.174C89.3651 166.609 86.9666 165.353 84.8015 163.729C84.077 163.186 83.3292 162.431 82.7481 161.738C82.6091 161.573 82.263 161.291 82.2389 161.062C82.2269 160.948 82.2695 160.89 82.1638 160.837"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M27.9244 182.023C21.9747 188.736 16.3357 195.89 10.8469 202.947C10.4886 203.407 9.84862 204.156 9.3149 204.393C8.3508 204.821 8.23312 207.257 8.10426 208.143C7.66052 211.193 8.23792 214.596 8.72565 217.592C9.08289 219.787 9.4405 222.032 10.8684 223.849C11.2716 224.362 12.2627 224.596 12.8397 224.835C14.2471 225.416 15.5607 226.162 17.1251 226.184C18.5121 226.204 19.8905 226.377 21.2713 226.377C22.6071 226.377 23.8822 225.992 25.246 225.992C28.4309 225.992 31.6048 225.799 34.7811 225.799C37.6282 225.799 40.3001 226.143 42.9235 227.342C45.9727 228.734 48.2944 231.188 51.6337 231.959C54.4584 232.611 57.5791 232.677 60.4724 232.548C61.2515 232.514 62.41 231.919 63.1294 231.573C64.1 231.107 65.0016 230.707 65.9149 230.148C68.0134 228.866 68.8454 226.048 69.1825 223.688C69.6647 220.313 70.5204 216.539 68.379 213.607C67.9185 212.976 67.3484 212.437 66.8898 211.807C66.3532 211.069 65.9735 210.186 65.2292 209.621C62.9414 207.886 60.4069 206.123 57.8261 204.886C54.5348 203.307 51.211 202.161 47.7232 201.115C45.1829 200.353 42.5651 200.322 39.9237 200.193C37.6448 200.082 35.0728 200.155 32.8527 199.615C32.2567 199.47 31.621 199.186 31.01 199.186"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M52.9943 222.521C56.5613 223.37 59.4695 225.863 62.6365 227.534C63.5849 228.035 64.2147 228.727 64.9506 229.463"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M60.3224 216.928C60.0021 217.729 65.7883 221.333 66.4934 221.706C67.1428 222.05 67.9649 222.28 68.6147 222.713"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M109.884 198.608C110.376 205.508 113.145 211.797 114.405 218.514C114.733 220.265 115.425 221.884 115.712 223.635C115.783 224.066 116.047 225.024 116.44 225.22"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M130.325 225.606C130.325 223.476 130.204 221.467 129.832 219.371C129.237 216.013 128.765 212.464 127.561 209.268C126.98 207.725 126.575 206.068 125.868 204.575C125.25 203.271 124.409 202.07 123.865 200.729C122.999 198.599 121.474 196.84 120.297 194.901C119.443 193.493 118.199 192.336 117.79 190.701"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M104.587 173.85C111.69 171.321 116.944 165.806 122.309 160.633C124.378 158.638 126.344 157.077 126.933 154.308C127.36 152.304 127.679 150.629 127.679 148.55C127.679 146.314 127.736 144.071 127.679 141.837C127.625 139.702 126.967 137.507 126.665 135.392C125.98 130.599 127.156 126.021 128.753 121.549C129.671 118.981 131.316 115.648 133.318 113.762C135.032 112.147 136.969 110.702 138.569 108.973C141.147 106.189 143.243 102.027 142.686 98.1284C142.436 96.3769 141.091 94.0718 140.3 92.4896C139.448 90.7859 138.094 88.3818 136.66 87.1193C134.682 85.3789 132.544 84.2059 130.409 82.6888C128.474 81.314 126.722 79.7178 124.726 78.4075C123.677 77.7193 122.077 77.2246 121.25 76.2594C120.856 75.8002 119.978 75.1919 119.355 75.0361"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
        <path
            d="M99.217 183.785C101.955 185.138 104.689 186.39 107.511 187.544C110.244 188.662 113.085 189.011 116.014 189.364C118.839 189.704 121.852 189.424 124.696 189.424C126.846 189.424 129.332 188.5 131.424 187.947C137.114 186.441 141.871 183.07 146.893 180.145C150.043 178.31 153.104 176.729 155.933 174.387C159.254 171.637 162.087 168.389 164.347 164.69C166.92 160.48 169.524 157.101 170.314 152.1C170.544 150.643 170.549 148.998 170.627 147.52C170.75 145.187 171.054 142.862 171.164 140.539C171.352 136.599 171.716 132.765 171.716 128.799C171.716 121.101 172.094 113.396 171.985 105.706C171.901 99.8776 169.593 93.2555 171.448 87.537C172.584 84.0328 174.591 81.0721 176.37 77.8853C178.145 74.7075 179.87 71.4312 182.203 68.6067C185.382 64.7589 189.56 62.0704 193.138 58.6716C197.059 54.9467 198.727 48.9823 200.059 43.948C201.057 40.1782 201.364 36.2172 201.641 32.3422C201.955 27.9447 202.219 23.0736 201.73 18.6778C201.386 15.5844 199.192 12.5063 197.494 9.99578C195.694 7.33533 193.862 4.27548 191.586 2"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"></path>
    </svg>
</div>
