---
import Project from "./Project.astro";
import SoonProject from "./SoonProject.astro";

const projects = [
    {
        title: "SNEAKERS E-Commerce",
        description:
            "This project is a E-Commerce sneakers app. I developed the user-friendly design and tried to use all my skills to create a great app that can meet the needs of any user.",
        live: "https://sneakers-e-commerce-app.vercel.app/",
        source: "https://github.com/zaycevv/sneakers-e-commerce-app",
        imageUrl: "/assets/projects/sneakers.png",
        colors: ["#1F1F1F", "#F2F3F3", "#FFFFFF"],
    },
    {
        title: "Cloud Drive",
        description:
            'In this project, I used Next.js for server-side rendering and Mantine UI for styles. I also developed the backend of the application. I used an interesting library  "react-selecto" to interact with the files.',
        live: "https://cloud-drive-app.vercel.app/",
        source: "https://github.com/zaycevv/cloud-drive-app",
        imageUrl: "/assets/projects/cloud.png",
        colors: ["#1F1F1F", "#008FFD", "#FFFFFF"],
    },
];
---

<div id="projects">
    <h1 class="font-semibold text-4xl text-center">My Projects</h1>
    <div class="mt-[100px] flex flex-col gap-8">
        {projects.map((obj) => <Project {...obj} />)}
        <SoonProject />
    </div>
</div>
